table, th, tr, td{
    border: 2px solid sandybrown;
    border-color: rgb(255, 155, 61);
    color: #424242;
    border-radius: 1%;    
}

body{
    background-color:aliceblue;
}
a{
    color: #424242
}
